# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Env
.env
.venv/
env/

# Data — trop volumineux pour git
data/

# Reports générés — recalculables
reports/

# Notebooks checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
